#root {
  max-width: 1620px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightgrey;
}

.logo {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

